<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    {% include "./assets/elegant.css" %}
  </style>
  <title>
    Resume of 
    {{ resume.basics.name }}, 
    {{ resume.basics.label }}
  </title>
</head>
<body>
  {% include "components/header.njk" with { basics: resume.basics } %}
  <main>
    {% include "components/summary.njk" with { summary: resume.basics.summary } %}
    {% include "components/experience.njk" with { work: resume.work } %}
    {# Going to just stub this out since I'm technically not college eedumacted #}
    {# {% include "components/education.njk" with { education: resume.education } %} #}
  </main>
</body>

</html>
