@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14pt;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
}

@media print {
  @page {
    margin: 0.5in;
  }

  html {
    font-size: 10pt;
  }

  body {
    margin-block: 0 !important;
  }

  ul {
    padding-inline-start: 1.25rem !important;

    li {
      padding-inline-start: 0.25rem !important;
    }
  }
}

a {
  color: inherit;
}

body {
  max-width: 55rem;
  margin-inline: auto;
  margin-block: 0.5rem 2rem;

  & > header {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;

    & > h1 {
      font-size: 2rem;
      font-weight: bolder;

      flex: 1 0 auto;
      & > span {
        font-size: 1.1rem;
        font-weight: 300;
      }
    }

    & > address {
      flex: 1 0 auto;
      align-self: end;
      text-align: end;

      font-style: normal;
      font-size: 0.9rem;
      line-height: 1.6;

      & > a {
        display: flex;
        align-items: center;
        white-space: normal;
        gap: 0.5rem;

        /* Add SVG icons to the left of each link */
        &.github::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url('/assets/img/github.svg');
          background-size: contain;
          margin-right: 5px;
        }

        &.linkedin::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url('/assets/img/linkedin.svg');
          background-size: contain;
          margin-right: 5px;
        }

        &.website::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url('/assets/img/website.svg');
          background-size: contain;
          margin-right: 5px;
        }

        &[href^="mailto:"]::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url('/assets/img/email.svg');
          background-size: contain;
          margin-right: 5px;
        }

        &::after {
          margin-inline-start: 0.5rem;
          display: inline-block;
          position: relative;
          right: 0.5pt;
        }
      }
    }
  }

  & > main {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 0.75rem;

    & > section {
      grid-column: 1 / 3;
      width: 100%;

      display: grid;
      grid-template-columns: subgrid;
      justify-items: stretch;
      align-items: start;

      row-gap: 0.75rem;
      column-gap: 1rem;

      border-block-start: 2pt solid #0E2181;
      padding-block-start: 0.75rem;
      padding-inline: 0.5rem;
      margin-inline: 0.25rem;

      line-height: 1.4;

      & > h2 {
        grid-column: 1 / span 1;
        margin-block-start: 0.2rem;
        line-height: 1;
        font-size: 1.1rem;
        font-weight: lighter;
        text-transform: uppercase;
      }

      & > p,
      & > section {
        grid-column: 2 / 3;
      }

      & > section {
        display: grid;
        gap: 0.25rem;

        & > header {
          display: grid;
          grid-template-columns: max-content 1fr;
          column-gap: 0.25rem;

          & > h3 {
            grid-column: 1 / span 1;
            font-size: 1rem;
            font-weight: bolder;
          }

          & > span {
            grid-column: 1;
            font-weight: lighter;

            & > .focus {
              text-transform: lowercase;
            }

            &.date {
              grid-column: 2;
              grid-row: 1;
              justify-self: end;
            }
          }
        }

        & > ul {
          padding-inline-start: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 50rem) {
  body {
    main {
      & > section {
        & > h2 {
          grid-column-end: span 2;
          justify-self: center;
          font-size: 1.25rem;
        }

        & > p,
        & > section {
          grid-column-start: 2;

          & > header {
            & > h3 {
              grid-column-end: span 2;
            }

            & > span.date {
              grid-row: 2;
            }
          }
        }
      }
    }
  }
}
